@import '../../assets/scss_styles/global-imports';

.contact {
   display: flex;

   .formChapter {
      @include flex-center-column;

      .contactForm {
         display: flex;
         flex-direction: column;
         width: 31.25rem;

         & input {
            height: 2.5rem;
            padding-left: 10px;
            line-height: 2.5rem;
         }

         & .textarea {
            padding-left: 10px;
            line-height: 2.5rem;
         }

         textarea:focus,
         input:focus {
            outline: none;
            color: gray;
         }
      }
   }
}