$color_purple: #663399;
$color_pink: #da4ea2;
$color_white: #fff;
$color_black: #000;
$color_orange: #ffa500;
$body_font: 'Poppins', sans-serif;
$title_font: 'Nunito Sans', sans-serif;
$h: 100%;
$w: 100%;